// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$gray-light: #d8d8d8;
$off-white: #f4f4f4;
$purple: #4B39FF;
$green: #1DBE3B;
$red: #FF3961;

// Container Sizes
$container-large: 1300px;
