<template>
  <Layout>
    <!-- Heading -->
    <div class="heading">
      <!-- Title -->
      <div class="title mt-4">
        <div>
          <h1 class="h3">{{ $page.book.name }}</h1>
        </div>
      </div>
    </div>

    <div v-html="$page.book.content"></div>
  </Layout>
</template>

<page-query>
query ($id: ID!) {
  book(id: $id) {
    name
    code
    picture
    content
  }
}
</page-query>

<script>
export default {
  metaInfo() {
    return {
      title: this.$page.book.name,
      meta: [
        {
          property: "og:title",
          content: this.$page.book.name + " • Knjige • Potep"
        }
      ]
    };
  }
};
</script>
