<template>
  <Layout>
    <div class="container">
      <div class="page-not-found">
        <h1>
          <span class="bold">We're sorry,</span> but this page has lost in our
          last update...
        </h1>
      </div>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "Page not found"
  }
};
</script>
