<template>
  <Layout>
    <div class="mt-5">
      <h3>nove knjige v knjižnici</h3>
      <p>Poišči pravo knjigo zate.</p>
      <List />
    </div>
  </Layout>
</template>

<script>
import List from "~/components/List.vue";

export default {
  components: {
    List
  },
  metaInfo: {
    title: "Vse knjige",
    meta: [
      {
        property: "og:title",
        content: "Poišči knjigo"
      }
    ]
  }
};
</script>
