// -----------------------------------------------------------------------------
// This file contains styles that are specific to the books template pages.
// -----------------------------------------------------------------------------



.list {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 1rem;
	.picture {
		height: 220px;
	}

}
.heading {
	.picture {
		height: 300px;
	}
}