<template>
  <!-- Header -->
  <header class="header">
    <div class="container">
      <!-- Logo -->
      <div class="header-logo">
        <a href="/">
          <img src="/img/icons/logo.svg" alt="knjige-potep-logo" />
        </a>
      </div>

      <!-- Nav -->
      <div class="header-nav">
        <div class="container">
          <input
            v-model="searchTerm"
            class="input"
            type="text"
            placeholder="Search book"
            @change="changeSearchTerm"
          />
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header",
  data: function () {
    return {
      searchTerm: ""
    };
  },
  methods: {
    changeSearchTerm() {
      this.$root.$emit("search-term-changed", this.searchTerm);
    }
  }
};
</script>
