<template>
  <!-- Sidebar -->
  <div>
    <h3 class="h4 d-none d-lg-block">{{ filteredResults.length }} knjig</h3>
    <ul class="list">
      <!-- Item -->
      <li v-for="book in filteredResults" :key="book.code">
        <a
          :href="book.path"
          :class="{
            active: $page ? $page.book.code == book.code : false
          }"
          :title="book.name"
        >
          <img class="picture" :src="book.picture" />
          <p class="text-center">{{ book.name }}</p>
          <p class="text-center">{{ book.author }}</p>
        </a>
      </li>
    </ul>
  </div>
</template>

<static-query>
query {
  allBook {
    totalCount
    edges {
      node {
        name
        code
        path
        picture
        author
      }
    }
  }
}
</static-query>

<script>
export default {
  name: "List",
  data: function () {
    return {
      searchTerm: ""
    };
  },
  computed: {
    searchResults() {
      if (this.searchTerm.length < 3) return this.$static.allBook.edges;
      return this.$search.search({
        query: this.searchTerm,
        limit: 10
      });
    },
    filteredResults() {
      return this.searchResults.map((n) => n.node);
    }
  },
  mounted() {
    this.$root.$on("search-term-changed", (searchTerm) => {
      this.searchTerm = searchTerm;
    });
  }
};
</script>
