<template>
  <div>
    <Header />

    <!-- Ports -->
    <div class="ports">
      <div class="container">
        <!-- Content -->
        <div class="content">
          <slot />
        </div>
      </div>
    </div>

    <Footer />
  </div>
</template>

<script>
import Header from "~/components/Header.vue";
import Footer from "~/components/Footer.vue";

export default {
  components: {
    Header,
    Footer
  }
};
</script>
